
.right-top {
    grid-area: right-top;
    align-self: end;
    overflow: visible;
    width: 100%;

    .right-top_about {
        height: 80px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: flex-start;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
        padding-top: 5px;
        padding-left: 2px;

        @media @mobile {
             padding-top: 4px;
        }
        &.done {
            -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        p {
            .typography__text-regular();

            @media @mobile {
                display: none;
            }
        }

        &-actions {
            .typography__text-regular();
            font-size: 16px;
            letter-spacing: 0.6px;
            &__container {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transform: translateX(3px);
                @media @mobile {
                    margin-top: 20px;
                    transform: unset;
                }
            }

            svg {
                transition: all 0.3s linear;

                &:hover path {
                    fill: @color_active;
                }
            }

        }
        @media @tablet {
            justify-content: flex-end;
        }
    }
}